.nav {
  background: #254e58;
  box-shadow: 4px 4px 8px 0 rgba(20, 1, 39, 0.2);

}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 22px;
  text-decoration: none;
  color: white;

}

.nav-list {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav-link:hover {
  color: #112D32;
}