.contact {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: #88BDBC;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 10px 10px 10px 20px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  align-items: center;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact-info-imageWrapper {
  width: 150px;
}

.contact-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.contact-title {
  font-family: 'Righteous', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 50px;
}

.contact-avatar {
  width: 80px;
}

.contact-control {
  display: flex;
  gap: 20px;
}

.contact-btn-wrapper {
  margin-top: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.phone {
  color: #112D32;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 14px;
}

.contact-btn {
  min-width: 140px;
  min-height: 35px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #112D32;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 0;
}


.contact-btn::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(140px + 10px);
  min-height: calc(35px + 10px);
  border: 3px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0, 255, 203, .64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.contact-btn:hover {
  color: #313133;
  transform: translateY(-3px);
}

.contact-btn:hover::before,
.contact-btn:focus::before {
  opacity: 1;
}

.contact-btn::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 5px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 2s infinite;
}

.contact-btn:hover::after,
.contact-btn:focus::after {
  animation: none;
  display: none;
}

.contact-delete-btn {
  background: #e61919;
  color: white;
}

.contact-delete-btn:hover {
  background: #b81414;

}

.contact-delete-btn:before {
  content: '';
  border-radius: 1000px;
  min-width: calc(140px + 10px);
  min-height: calc(35px + 10px);
  border: 3px solid red;
  box-shadow: 0 0 60px rgba(0, 255, 203, .64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
