.btn-spinner {
  width: 8px;
  aspect-ratio: 1;
  border: 8px solid #88BDBC;
  background: #36395A;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
}

.btn-spinner::before {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: 5px solid #254e58;
  animation: l18 1.5s infinite linear;
}

@keyframes l18 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}