*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  min-width: 375px;
  color: #112D32;
  font-size: 15px;
  background: #25888291;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}

